{% extends "layout.html" %}
{% block body %}
    <Nav class="nav">
        <div class="logo">
            <h3>logo</h3>

        </div>
        <div class="box">
            <a href="{{url_for('login')}}"><button>login</button></a>
            <a href="{{url_for('register')}}"><button>Register</button></a>

        </div>

    </Nav>
    <div class="body_container">
        <h1>main body without login</h1>
        <h1>Crypto Listings</h1>
        <table>
            <tr>
                <thead style="width: 10;"><strong>number:</strong></thead>
                <thead><strong>Symbol:</strong></thead>
                <thead><strong>Price:</strong></thead>
            </tr>
            
        {% for coin in coins %}   
        <tr>
            <td style="width: 10;"><p> {{ coin.sn}}</p></td>
            <td><p> {{ coin.symbol }}</p></td>
            <td><p>${{ coin.quote.USD.price }}</p></td>
        </tr>
        </div>
        {% endfor %}
    </table>
   </div>
{% endblock body %}
